# General Windows metadata.
Thumbs.db

# Visual Studio metadata.
/Python/.vs/

# Built releases (from python -m build)
/Python/dist/

# Python pre-compiled cache.
/Python/**/__pycache__/

# Python packaging metadata.
/Python/src/*.egg-info/

# Folder for project research.
/Research/